# Environment Variables

# Database
DB_USER=DevM
DB_PASSWORD=pass@123
DB_NAME=
DB_HOST=localhost
DB_PORT=5433

# JWT Settings
SECRET_KEY=d5b0c5e86547bc101717bcfda6a1d371fe16a8ae5bd9f0a754e43612ddd4fa4b
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# AWS S3
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=us-east-1
S3_BUCKET_NAME=ai-meeting-bucket
S3_ENDPOINT_URL=

# Whisper Settings
WHISPER_MODEL=base
DEVICE=cpu

# LLM Settings
GEMINI_API_KEY=AIzaSyDkWycFRurNF2rBJcJwAQTiMXoVJX_Bg6I
LLM_MODEL=mistral-7b-instruct
LLM_PROVIDER=mistral

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000

# Debug Mode
DEBUG=False
