# Environment Variables

# Database
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=localhost
DB_PORT=5433

# JWT Settings
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# AWS S3
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=us-east-1
S3_BUCKET_NAME=ai-meeting-bucket
S3_ENDPOINT_URL=

# Whisper Settings
WHISPER_MODEL=base
DEVICE=cpu

# LLM Settings
llm_API_KEY=
LLM_MODEL=mistral-7b-instruct
LLM_PROVIDER=mistral

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000

# Debug Mode
DEBUG=False
