fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
pydantic[email]
python-jose
passlib[bcrypt]
python-multipart
boto3
celery
redis

openai-whisper
torch
sentence-transformers

pgvector
alembic
sqlalchemy-utils

requests
httpx

python-dotenv
google-generativeai
groq
